/* CSS Document */

*{
	padding: 0;
	margin: 0;
	
	
}
#Contenedor{
	width: 80%;
	display: flex;
	flex-direction: column;
	background-color: white;
	margin: 20px auto;
}
body{
	background-color:bisque !important;
	width: 100%;
}
/*---------------nav(Menu)------------*/
nav {
	background-color:black;
	
	
}
nav img{
	width: 200px;
	float:left; 
	padding: 5px 40px;
	height: 60px;

}
.logo{
	margin-left: 15px;
	margin-top: 15px;
	width: 200px;
	height: 80px;
}
	

#Menu_Bar a {
	color: white;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
	padding-left: 22px;
	padding-right : 22px;
	margin: 0;
	font-family:  Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
	font-size: 1.3em;
	font-weight:bold;
	
}
#Menu_Bar{
	margin-top: 100px;	
	background: #000000;
	padding: 15px;

}
/*-----------------Efecto_Menu-------------------------------*/

#Menu_Bar a:hover{
   
	background: rgba(0,0,0,0.1);
    box-shadow: 0px 7px 0px 0px rgb(244, 252, 157);
    transition: all 500ms; 	
	background-color:rgb(247, 199, 70);
	color: black;
}



/*_______________________Main____________________________*/
main{
	display: flex;
	flex-direction: row;
	
}

/*--------------------------Inicio--------------------------*/

#Carta{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px;
	margin: 20px 10px;
	justify-content: space-around;
}
#Carta figure{
	width:45%;
	text-align: center;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	margin-top: 20px
	
}
#Carta figure  img{
	width: 100%;
	vertical-align: bottom;
	
}
#Carta figure{
	
	width: 400px;
	height: 300px;
	position: relative;
	overflow: hidden;


}

#Carta figure img{
	transition: all 0.5s;
	width: 400px;
	height: 300px;
}
 #Carta h1{
	text-align-last: center;
	font-size:3em;
	font: oblique;
}
#Carta figure figcaption{
	width: 400px;	
	height: 45px;
	position: absolute;
	bottom: 0;
	padding: 10pt;	
	font-size: 15px;/*Tamaño de la letra*/
	background-color:rgba( 0,0,0,0.7);
	color: white;
	text-align: center;
	transform: translateY(100%);
	transition: all 0.5s ease-out;
}
#Carta figure:hover figcaption{
	transform: translateY(0%);
	
}
#Carta figure:hover img{
	transform:scale(1.15);
}

#teorico{
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 20px;
	margin: 20px 110px;
	justify-content: space-around;
}
#reorico figure{
	display: flex;
	flex-direction: row;
}
#teorico p{
	font-size: 16px;
	
}

/*---------------------FIN_INICIO_EFECTO---------------*/

/*--------------------MenuBar_Nosotros---------------*/
#Nosotros {
	padding: 50px;
}
#Nosotros figure{
	float:right;
	margin: 30px;
	width: 300px;
}
#Nosotros figure figcaption{
	text-align: center;
	font-size: 25px;
}
#Nosotros figure img{
	margin-top: 20px;
	width:  300px;
	height: 400px;
}

#Nosotros h2{
	text-align:left;
	padding-left: 30px;
	font-family:  Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 2.5em;
	
	
}

#Nosotros p{
	padding: 30px;
	text-align: justify;
	font-size: 20px;
}



/*-------------------MenuBar_Reservas--------------*/
/*------------------MenuBar_Contactenos--------------*/
/*--------------MenuBar__Trabaja_con_Nosotros----------*/
#Formularios {
	
    width: 100%;
    display: flex;	
	flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
	padding: 10px auto; 
}
#Formularios h1,h3{
	margin: 10px auto ;

}


#Formularios form button{
	margin: 15px;
}
#Formularios table{
	margin: 10px auto;
	
}
#Formularios table tr td{
	padding: 10px;
}
#Formularios table tr td.centrar{
	text-align:center;
}


/*-----------Plantilla_de_Carta--------------*/

/*------------Menu_Aside----------------------*/

#Plantilla{
	display: flex;
	flex-direction: row;
}
aside{
	width: 25%;
}

#Menu_Aside{
	width: 200px;
	margin-top: 90px;
    margin-left: 5px;	
}

#Menu_Aside a{
	display: block;
	text-decoration: none;
	margin-top: 15px;
	font-size:1.5em;
	background-color: cadetblue;
	width: 180px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 20px 20px 0px;
	padding-left: 40px;
	transition:padding-left 0.6s;
	color: white;
	margin-bottom: 35px;
}
#Menu_Aside a:hover{
	padding-left: 70px;
	background-color:aqua;
	color: black;
}


/*------------Plantilla_Section----------------------*/
/*--------------Terminos y condiciones---------------*/

#Elementos{ /*--------seccion------------------*/
	width: 75%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
div.left
{
	width: 90%;
	margin-bottom: 30px;
	border-bottom: 2px solid gray;
}
div.left h2{
	font-size:2em;
}
div.left h3{
	font-size:1.5em;
}
div.left p
{
	font-size: 1.2em;
	margin-top: 20px;
	margin-bottom: 20px;
}
div.left figure img{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	
}

div.left figure {
	width: 40%;
	float: left;
	margin-right: 20px;
}
div.right
{
	width: 90%;
	margin-bottom: 30px;
	border-bottom: 2px solid gray;
}
div.right figure img{
	width: 100%;
	margin-bottom: 10px;
}

div.right figure {
	width: 40%;
	float: right;
	margin-left: 20px;
	

}
div.right h2{
	font-size: 2em;
}
div.right h3{
	font-size: 1.5em;
}
div.right p{
	font-size: 1.2em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tex{
	
    margin-top: 75px;
}
.gran{
	width: 751px;
	height: 532px;
}
#Termino h1{text-align: center;margin:10px;}
#Termino {
margin:40px;
}
#Termino h2,h3{
text-align:left;
}
#Termino ol strong li{
margin:20px 0;
}

#Termino ul li {
margin-left:60px;
}
#Termino ul {
margin:10px 0;
}
/*------------Footer----------------------*/
	footer {
		text-align: center;
		color: white;
		background-color: steelblue;
		padding: 15px;
		
	
	}
	footer p {
		margin-bottom: 5px;
	}
	
	.imagenmover {
}
